In [3]:
import numpy as np
import pandas as pd

In [3]:
# Question 1 (15 Points)
# Compute the euclidean distance between series (points) p and q, without using a packaged formula.
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

squared_distance = (p-q)**2
squared_distance_sum = squared_distance.sum()
euclidean_distance = np.sqrt(squared_distance_sum)

print(euclidean_distance)

18.16590212458495

In [5]:
# Question 2 (15 Points)
# Change the order of columns of a dataframe. Interchange columns 'a' and 'c'.
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
print(df)
order_change_df = df[["c","b","a","d"]]
print(order_change_df)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
    c   b   a   d
0   2   1   0   3
1   7   6   5   8
2  12  11  10  13
3  17  16  15  18

In [7]:
# Question 3 (15 Points)
# Change the order of columns of a dataframe.  Create a generic function to interchange two columns, without hardcoding column names.
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

def interchange_columns(df, col1, col2):
    col = list(df.columns)
    id1 = col.index(col1)
    id2 = col.index(col2)
    col[id1] = col[id2]
    col[id2] = col[id1]
    return df[col]

interchange_columns(df, "a", "c")

    c   b   c   d   e
0   2   1   2   3   4
1   7   6   7   8   9
2  12  11  12  13  14
3  17  16  17  18  19

In [15]:
# Question 4 (15 Points)
# Format or suppress scientific notations in a pandas dataframe. 
# Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.
# Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
print(df.head())

# Apply formatting to suppress scientific notation and set precision to 4 decimal places for this DataFrame
df_ = df.map(lambda x: f"{x:.4f}")
print(df_.head()) 

#>          random
#> 0  3.474280e-03
#> 1  3.951517e-05
#> 2  7.469702e-02
#> 3  5.541282e-28
# Desired Output
#>    random
#> 0  0.0035
#> 1  0.0000
#> 2  0.0747
#> 3  0.0000

     random
0  0.016466
1  0.267572
2  0.000181
3  0.000117
   random
0  0.0165
1  0.2676
2  0.0002
3  0.0001

In [25]:
# Question 5 (15 Points)
# Create a new column that contains the row number of nearest column by euclidean distance. 
# Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.
# Input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df

distances = []
for i, row in df.iterrows():
    row_distances = []
    for j, other_row in df.iterrows():
        # Skip the distance calculation for the same row
        if i == j:
            row_distances.append(np.inf)
        else:
            # Calculate the Euclidean distance
            dist = np.sqrt(np.sum((row - other_row) ** 2))
            row_distances.append(dist)
    distances.append(row_distances)

# Convert distances to a NumPy array for easier manipulation
distances = np.array(distances)

# Find the index of the nearest row for each row and the corresponding distance
nearest_indices = distances.argmin(axis=1)
nearest_distances = distances.min(axis=1)

df['nearest_row'] = [df.index[i] for i in nearest_indices]  # index labels
df['dist'] = nearest_distances #add the distance column

print(df)

#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34
# Desired Output
# df
#    p   q   r   s nearest_row   dist
# a  57  77  13  62           i  116.0
# b  68   5  92  24           a  114.0
# c  74  40  18  37           i   91.0
# d  80  17  39  60           i   89.0
# e  93  48  85  33           i   92.0
# f  69  55   8  11           g  100.0
# g  39  23  88  53           f  100.0
# h  63  28  25  61           i   88.0
# i  18   4  73   7           a  116.0
# j  79  12  45  34           a   81.0

    p   q   r   s nearest_row       dist
a  49  11  43  45           f  38.183766
b  19  93  78  37           i  67.156534
c  35  62   8  73           i  59.924953
d  92  76  50  14           i  42.035699
e  92  20  26  72           g  38.078866
f  22  20  61  63           a  38.183766
g  78  27  52  95           e  38.078866
h  75  17  52   3           a  50.566788
i  61  85  27  28           d  42.035699
j  19  36  88  96           f  45.639895

In [13]:
# Question 6 (15 Points)
# Correlation is a statistical technique that shows how two variables are related. 
# Pandas dataframe.corr() method is used for creating the correlation matrix. 
# It is used to find the pairwise correlation of all columns in the dataframe. 
# Any na values are automatically excluded. For any non-numeric data type columns in the dataframe it is ignored.

# Input
data = {'A': [45, 37, 0, 42, 50],
        'B': [38, 31, 1, 26, 90],
        'C': [10, 15, -10, 17, 100],
        'D': [60, 99, 15, 23, 56],
        'E': [76, 98, -0.03, 78, 90]
        }

df =  pd.DataFrame(data)
correlation_matrix = df.corr()

print(correlation_matrix)
print("All the columns have positive correlation")

          A         B         C         D         E
A  1.000000  0.756038  0.624390  0.493811  0.928600
B  0.756038  1.000000  0.966733  0.363559  0.649558
C  0.624390  0.966733  1.000000  0.218860  0.528068
D  0.493811  0.363559  0.218860  1.000000  0.720177
E  0.928600  0.649558  0.528068  0.720177  1.000000
All the columns have positive correlation